API_URL=http://localhost
API_PORT=3001

SOCKET_URL=http://localhost:3002
SOCKET_PORT=3002
SOCKET_ADMIN_PORT=3003

FRONTEND_URL=http://localhost:8080
MS_CLARITY_PROJECT_ID=your_clarity_project_id_here

GITHUB_AUTH_CLIENT_ID=github_client_id_here
GITHUB_AUTH_CALLBACK_URL=http://localhost:8080/auth/github
GITHUB_AUTH_CLIENT_SECRET=github_client_secret_here

VOLUME_PATH=./volumes
NSM_WWW_PATH=./www

DATABASE_LOGGING=false

TRZ_ENV=development

REDIS_PORT=6379
REDIS_HOST=localhost