API_URL="http://localhost"
API_PORT="3001"
GITHUB_AUTH_CLIENT_SECRET="433b372a6b794500eace3ea30dd193141d0e06d1"
GITHUB_AUTH_CALLBACK_URL="http://localhost:8080/auth/github"
GITHUB_AUTH_CLIENT_ID="Ov23liYryBViA34PbcVq"
SOCKET_PORT=3002
ORG_NAME="mosaiq-software"
DATABASE_PATH = "./database.sqlite"
DATABASE_LOGGING = "false"